*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%; // 1rem = 10px/16px = 62.5
    font-family: "Montserrat", sans-serif;
    font-weight: normal;

    @include respond-to(tab-land) {
        // max-width 1200px
        font-size: 56.25%; // 1rem = 9px;
    }
    @include respond-to(tab-port) {
        // max-width 900px
        font-size: 50%; // 1rem = 8px
    }
    @include respond-to(pc) {
        // min-width 1800
        font-size: 100%; // 1rem = 12px
    }
}

body {
    box-sizing: border-box;

    @include respond-to(tab-port) {
        padding: 0;
    }
}

.wrapper {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

button.green {
    background-color: $brand;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.44);
    border-radius: 8px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}
